.inputGroup {
  margin-bottom: var(--space-md);
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-weight: 500;
  margin-bottom: 2px;
}

.inputGroup input {
  padding: 7px var(--space-md);
  border: 1.5px solid var(--color-border);
  border-radius: var(--radius-md);
  font-size: 1rem;
  margin-bottom: 1px;
  background: var(--color-input-bg);
  transition: border 0.2s;
}

.inputGroup input:disabled {
  background: #f1f5f9;
  color: var(--color-text-dim);
  border-style: dashed;
}

.inputGroup input:focus {
  border-color: var(--color-green);
  box-shadow: 0 0 0 4px var(--color-focus-green);
  outline: none;
}

.inputGroup small {
  color: var(--color-text-light);
  font-size: 0.92em;
  margin-top: 0;
}
